body
  font-size 14px
  margin 0px
  line-height 19px
  font-family 'Roboto', helvetica, arial, sans-serif
  *,
  *:before,
  *:after
    box-sizing border-box
  a
    color ColorLink
    text-decoration underline
    &:active
    &:focus
      text-decoration none
  .leaflet-control-zoom a
    text-decoration none
    color #333
  .leaflet-control-attribution a
    color #003366

  .fallback
    position absolute
    top 0px
    left 0px
    width 100%
    height 600px
    background white
    z-index 10

    div
      margin 270px 40px 0px 40px
      text-align center
      padding 20px 10px
      border 1px dotted #aaa

  .viz
    list-style-type none

  ul
    max-width 1000px

  .vypis
    height 260px

  .obvod
    font-size 24px
    color #ab0000
    margin 10px 0 25px 0
    clear left
    float left
    width 100%

  .name
    font-size 22px
    font-weight 700
    line-height 1em
    color #036
    padding-left 25px
    position relative
    margin-top 0px !important
    margin-bottom 5px !important

  .detail
    position relative
    margin-top 0px
    color #333
    font-size 13px
    float left
    margin-top 5px
    max-width calc(100% - 140px)


  .first
  .second
    float left
    width 400px
    max-width 100%
    position relative
    height 185px
    margin-bottom 20px
    img
      float left
      margin-right 10px

  .first
    clear left
    margin-right 20px


  audio
    position absolute
    top 150px
    left 130px
    max-width calc(100% - 140px)
